body
{
	margin:0;
	padding:0;
	font-family: Arial;
	background: rgba(0,0,0,0.7);
}

	.header
	{
		background: rgba(0,0,0,0.5);
		color:rgb(255,255,255);
		box-shadow: 0px 2px 2px #222;
	}

		.header h2
		{
			padding:5px 20px;
			margin:0;
		}

		.container
		{
			width:980px;
			margin:auto auto;
		}

		.navigation
		{
			padding:0;
			margin:0;
			float:right;
			margin-top:-40px;
			list-style: none;
		}

			.navigation > li
			{
				float:left;
				padding:12px 25px;
				font-size:14px;
				border-left:1px solid rgba(0,0,0,0.6);
			}

			.navigation > li:last-child
			{
				border-right:1px solid rgba(0,0,0,0.6);
			}

			.navigation > li:hover
			{
				background:rgba(0,0,0,0.4);
				cursor:pointer;
			}

	.main
	{
		color:rgb(255,255,255);
		text-shadow: 1px 1px rgba(0,0,0,0.5);
	}

	.main h2
	{
		padding:15px;
		margin:0 25px;
		font-size:32px;
		float:left;
	}

	.main .latest-update
	{
		float:left;
		padding:10px 0 0 0;
		color:rgba(255,255,255,0.5);
		margin-left:-20px;
		font-size:18px;
	}

	.main .latest-update > span
	{
		font-size:11px;
		color:rgba(255,255,255,0.8);
	}

		.left-column
		{
			width:15%;
		}

			.user-photo img
			{
				margin:0 20px;
				border:3px solid rgba(255,255,255,1);
				border-radius: 25px;
				float:left;
			}

	.main-container
	{
		width:980px;
		margin:auto auto;
		position:relative;
	}

	.content
	{
		position:absolute;
		left:200px;
		top:75px;
		height:100%;
		width:75%;
		background: rgba(200,200,200, 1);
		box-shadow: 0px -3px  6px #333;
		text-shadow: 1px 1px rgba(0,0,0,0.5);
		color:rgba(255,255,255,0.7);
	}

		.update
		{
			float:left;
			width:192px;
			height:149px;
			border-right:1px solid rgba(0,0,0,0.3);
			border-bottom:1px solid rgba(0,0,0,0.3);
			position: relative;
			color:rgba(255,255,255,0.2);
		}

		.update .update-content
		{
			padding:10px;
			margin:0;
			color:rgba(0,0,0,0.1);
			font-size: 14px;
			font-style: italic;
		}

		.update .update-text
		{
			background:rgba(0,0,0,0.4);
			padding:4px;
			margin-top:-25px;
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			bottom: 0;
			color:rgba(255,255,255,0.7);
		}

			.update .update-text > p
			{
				margin:0;
				padding:0;
				font-size:11px;
				float:left;
			}

			.update .update-text > span
			{
				font-size:13px;
				float:right;
			}

		.update-photo
		{
			background:#FFF;
			width:349px;
			height:150px;
			position: relative;
			float:left;
		}

		.update-photo .update-text
		{
			background:rgba(0,0,0,0.4);
			padding:4px;
			margin-top:-25px;
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			bottom: 0;
			color:rgba(255,255,255,0.7);
		}

			.update-photo .update-text > p
			{
				margin:0;
				padding:0;
				font-size:12px;
				float:left;
			}

			.update-photo .update-text > span
			{
				font-size:14px;
				float:right;
			}

.clear
{
	clear:both;
}